rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public read access to posters and user info
    match /posters/{posterId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth.uid == resource.data.uploaded_by;
    }

    match /users/{userId} {
      allow read: if true;
      allow create: if request.auth.uid == userId;
      allow update: if request.auth.uid == userId;

      // Rules for the 'likedPosters' sub-collection
      match /likedPosters/{posterId} {
        allow read, write: if request.auth.uid == userId;
      }

      // Rules for the 'posterDrafts' sub-collection (private to the owner)
      match /posterDrafts/{draftId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
